@import url(reset.css);
/* общие стили */
@font-face {
  font-family: "Prata";
  src: url("../fonts/Prata-Regular.ttf") format("truetype");
}

:root {
  --main-bg-color: #222222;
  --secondary-bg-color: #282829;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: white;
  background-color: var(--main-bg-color);
}

.wrappper {
  margin: 0 auto;
  max-width: 1920px;
  height: 100vh;
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: 1600px;
  position: relative;
}

.button {
  background: white;
  font-weight: bold;
  font-size: 24px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 32px 50px;
  justify-content: center;
  border-radius: 4px;
}

a.logo {
  color: white;
  font-family: "Prata-Regular", serif;
  text-transform: uppercase;
  letter-spacing: 3%;
  font-size: 36px;
  line-height: 150%;
  font-weight: 200;
}

/* индивидуальные стили */

/* Header */

.header__inner {
  display: flex;
  column-gap: 205px;
  align-items: center;
  padding-top: 44px;
}

.menu__inner {
  display: flex;
  column-gap: 29px;
}

.menu__item {
  font-style: italic;
  text-transform: uppercase;
}

/* main section */
.main__inner {
  height: 918px;
  display: flex;
  padding-bottom: 50px;
  flex-direction: column;
  justify-content: end;
}

.main__content {
  max-width: 550px;
}

.main_title {
  font-family: "Prata", serif;
  font-size: 80px;
  line-height: 120%;
  margin-bottom: 50px;
}

.main-subtitle {
  font-size: 50px;
  line-height: 120%;
  margin-bottom: 50px;
}

.main__list {
  margin-bottom: 40px;
}

.list__item {
  font-size: 24px;
  line-height: 110%;
  position: relative;
  padding-left: calc(39px + 17px);
  margin-bottom: 35px;
}

.list__item::before {
  content: "";
  position: absolute;
  background-image: url("../images/ic_check-mark.svg");
  width: 39px;
  height: 37px;
  top: 30%;
  left: 0;
}

.list__item span {
  font-family: "Prata", serif;
  font-size: 40px;
  letter-spacing: 4%;
  line-height: 150%;

}
.main__button {
  padding-top: 40px;
}

.main__background {
  position: absolute;
  top: -98px;
  right: -157px;
  z-index: -1;
}

/* Order section */
.order {
}

.order .container {
  max-width: 1920px;
}

.order__inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  background: #282829;
  margin-bottom: 100px;
}

.order__image-left {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.order__image-right {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.order__column {
  max-width: 614px;
}

.order__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}
.order__list hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
.order__item {
  font-size: 24px;
  line-height: 140%;
}
.order__button {
  width: 100%;
}


/* Submit form */
.submit-form {
}
.submit-form__inner {
  display: flex;
  color: black;
  background: white;
  border-radius: 30px;
  padding: 70px 134px;
}

.form {
}
.form__input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 54px;
  background-color: white;
  border: solid 2px;
  padding-left: 38px;
  border-radius: 4px;
}
.form__input:first-child {
  margin-bottom: 10px;
}
.form__input:nth-last-child {
  margin-bottom: 28px;
}
.form__checkbox-container {
}
.form__button {
}
.button {
}

.submit-form__info {
}
.submit-form__title {
  font-family: "Prata";
  font-size: 54px;
  margin-bottom: 45px;
}
.form__button {
  background: var(--main-bg-color);
  color: white;
}
.submit-form__images {
  position: relative;
  height: 628px;
  width: 100%;
}
.submit-form__background-img {
  position: absolute;
  top: 0;
  right: 0;
}
.submit-form__foreground-img {
  position: absolute;
  top: 0;
  right: 0;
}

.footer {
}
.footer__inner {
}
.footer__line {
}
.footer__menu {
  display: flex;
  column-gap: 60px;
  justify-content: center;
  border-top: solid 2px #d5c9be;
  border-bottom: solid 2px #d5c9be;
  padding: 40px 0;
}
.footer__item a {
  color: white;
  text-transform: uppercase;
}
.footer__central-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.footer__logo {
}
.footer__icons {
  display: flex;
  column-gap: 32px;
}

.icons {
}
.footer__icon {
}
.icon {
}
.footer__button {
  width: 180px;
  margin-bottom: 32px;
  font-style: italic;
  font-weight: normal;
}
.footer__bottom-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.footer__copyright {
}
.footer__privacy {
}
.footer__terms {
}
